<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" type="text/css" href="style.css">
    </head>

<body>
        <div class="topnav">
                <a href="index.html">QUESTIONER</a>
                <a href="index.html">HOME</a>
                <a href="meetups.html">MEETUPS</a>
                <a href="login.html" style="float:right">LOGIN</a>
                <a href="signup.html" style="float:right">SIGNUP</a>
              </div>


<p></p><div class="form">
        <h1 class="login">Login</h1>
  <form>
    <label for="lname">Email</label>
    <input type="text" id="lname" name="email" placeholder="Email">

    <label for="lname">Password</label>
    <input type="text" id="lname" name="password" placeholder="Password">

    <input type="submit" value="Submit">
    <a href="reset.html"><h5 class="res">Forgot password?</h5></a>
  </form>
</div>

</body>
</html>
