{% extends 'base.html' %}

{% block title %}Signup{% endblock %}

{% block content %}


      <p></p>  <div class="uk-container uk-container-small">



            <form class="uk-form-stacked uk-grid-xsmall grid">


                    <div class="uk-width-1-2@s">
                            <h1 class="text center">Sign up Today</h1>
                    <div class="uk-margin">

                        <label class="uk-form-label" for="form-stacked-text">Username</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="form-stacked-text" type="text" name="username" placeholder="Username" required=>
                        </div>

                    </div>

                    <div class="uk-margin">
                            <label class="uk-form-label" for="form-stacked-text">Email</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="form-stacked-text" type="text" name="email" placeholder="Email" required>
                            </div>
                        </div>

                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-select">Password</label>
                        <div class="uk-form-controls">
                                <input class="uk-input" id="form-stacked-text" type="password" name="password" placeholder="Password" required>
                            </div>
                    </div>
                    <div class="uk-margin">
                            <label class="uk-form-label" for="form-stacked-select">Confirm Password</label>
                            <div class="uk-form-controls">
                                    <input class="uk-input" id="form-stacked-text" type="password" name="confirmpassword" placeholder="Confirm Password" required>
                                </div>
                        </div>
                        <div class="uk-margin">

                                <div class="uk-form-controls">
                                        <button class="uk-button uk-button-primary">Submit</button>
                                    </div>
                            </div>
                        </div>


                </form>

        </div>




{% endblock %}
